# CODECLAUSE PVT LTD

# Data Science Intern

# Task 2 : Sentiment Analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [3]:
data=pd.read_csv("C:\\BARATHRAJ\\DATASET\\IMDB Dataset.csv")
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
data['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [6]:
from bs4 import BeautifulSoup
import re

In [7]:
def html_tags(text):
    sent=BeautifulSoup(text,'html.parser')
    return sent.get_text()
def unwanted(text):
    return re.sub('\[[^]]*\]', '', text)

In [8]:
def convert(text):
    text=html_tags(text)
    text=unwanted(text)
    return text

In [9]:
data.columns

Index(['review', 'sentiment'], dtype='object')

In [10]:
data['review']=data['review'].apply(convert)

C:\Users\vella\AppData\Local\Temp\ipykernel_20388\3086594586.py:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  sent=BeautifulSoup(text,'html.parser')

In [11]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. The filming tec...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [12]:
def remove_digit(text):
    pattern=r'[^a-zA-z0-9\s]'
    text=re.sub(pattern,'',text)
    return text

In [13]:
data['review']=data['review'].apply(remove_digit)

In [14]:

data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production The filming tech...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically theres a family where a little boy J...  negative
4      Petter Matteis Love in the Time of Money is a ...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot bad dialogue bad acting idiotic direc...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  Im going to have to disagree with the previous...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [15]:
#text stremming
def stream(text):
    porter=PorterStemmer()
    text=' '.join([porter.stem(i) for i in text.split()])
    return text

In [16]:
stream('I thought this movie did a down right gooded job')

'i thought thi movi did a down right good job'

In [17]:
data['review']=data['review'].apply(stream)

In [18]:
data_copy=data.copy()
data_copy

                                                  review sentiment
0      one of the other review ha mention that after ...  positive
1      a wonder littl product the film techniqu is ve...  positive
2      i thought thi wa a wonder way to spend time on...  positive
3      basic there a famili where a littl boy jake th...  negative
4      petter mattei love in the time of money is a v...  positive
...                                                  ...       ...
49995  i thought thi movi did a down right good job i...  positive
49996  bad plot bad dialogu bad act idiot direct the ...  negative
49997  i am a cathol taught in parochi elementari sch...  negative
49998  im go to have to disagre with the previou comm...  negative
49999  no one expect the star trek movi to be high ar...  negative

[50000 rows x 2 columns]

In [19]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vella\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [20]:
def convert_sent(text):
    words=word_tokenize(text)
    
    stop=[word for word in words if word.lower() not in stopwords.words('english')]
    
    text=' '.join(stop)
    
    return text

In [21]:
data['review']=data['review'].apply(convert_sent)
data

                                                  review sentiment
0      one review ha mention watch 1 oz episod youll ...  positive
1      wonder littl product film techniqu veri unassu...  positive
2      thought thi wa wonder way spend time hot summe...  positive
3      basic famili littl boy jake think zombi hi clo...  negative
4      petter mattei love time money visual stun film...  positive
...                                                  ...       ...
49995  thought thi movi right good job wasnt creativ ...  positive
49996  bad plot bad dialogu bad act idiot direct anno...  negative
49997  cathol taught parochi elementari school nun ta...  negative
49998  im go disagre previou comment side maltin thi ...  negative
49999  one expect star trek movi high art fan expect ...  negative

[50000 rows x 2 columns]

In [22]:
data

                                                  review sentiment
0      one review ha mention watch 1 oz episod youll ...  positive
1      wonder littl product film techniqu veri unassu...  positive
2      thought thi wa wonder way spend time hot summe...  positive
3      basic famili littl boy jake think zombi hi clo...  negative
4      petter mattei love time money visual stun film...  positive
...                                                  ...       ...
49995  thought thi movi right good job wasnt creativ ...  positive
49996  bad plot bad dialogu bad act idiot direct anno...  negative
49997  cathol taught parochi elementari school nun ta...  negative
49998  im go disagre previou comment side maltin thi ...  negative
49999  one expect star trek movi high art fan expect ...  negative

[50000 rows x 2 columns]

In [23]:

cv=CountVectorizer()

cv_train_reviews=cv.fit_transform(data['review'])

cv_train_reviews

<50000x181655 sparse matrix of type '<class 'numpy.int64'>'
	with 4955664 stored elements in Compressed Sparse Row format>

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
label=LabelEncoder()
target=label.fit_transform(data['sentiment'])
target

array([1, 1, 1, ..., 0, 0, 0])

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(cv_train_reviews,target,test_size=0.2,random_state=42)
x_train

<40000x181655 sparse matrix of type '<class 'numpy.int64'>'
	with 3960128 stored elements in Compressed Sparse Row format>

In [28]:
logistic=LogisticRegression()

In [29]:
logistic.fit(x_train,y_train)

C:\Users\vella\projects\vella\vella\__pycache__\conda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [30]:
y_pred=logistic.predict(x_test)

In [31]:
accuracy_score(y_pred,y_test)

0.8841

In [ ]:
from sklearn.svm import SVC
svm=SVC()

svm.fit(x_train,y_train)

y_pred2=svm.predict(x_test)

accuracy_score(y_pred2,y_test)

In [ ]:
arr1

In [ ]:
arr=data.iloc[1]['review']
arr1=np.array([arr])
arr=cv.transform(arr1)

In [ ]:
y_pred3=logistic.predict(arr_cv)

In [ ]:
arr_cv = cv.transform(arr1)
arr_cv

In [ ]:
# Assuming cv_train_reviews is your original CountVectorizer instance
arr_cv = cv.transform(arr1)
arr_cv